/**
* 公共样式
*/

@import url('../fonts/iconfont.css');
@import url('font-awesome.min.css');
* {margin:0; padding:0;-webkit-box-sizing: border-box;box-sizing: border-box;}
* html body { height: 100%; overflow:visible;}
* html iframe, * html frame {overflow:auto;}
* html frameset {overflow:hidden;}
body {max-width:640px; min-width:320px; margin:0 auto; color:#000; font-size: 12px;font: 14px/2 'Microsoft YaHei', 'Arial';}
input, select {font-size:12px; vertical-align:middle; cursor:pointer; outline: none; padding: 0;}
input[type=button]{
  -webkit-appearance:none;
  outline:none;
  border:none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ccc; opacity:1; font-weight: 200; font-size: 12px;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ccc;opacity:1;font-weight: 200; font-size: 12px;
}

input:-ms-input-placeholder{
  color: #ccc;opacity:1;font-weight: 200; font-size: 12px;
}

input::-webkit-input-placeholder{
  color: #ccc;opacity:1;font-weight: 200; font-size: 12px;
}
input{-webkit-appearance:none;border-radius:0;}
input[type="radio"]{appearance: none; -webkit-appearance: none;outline: none;display:none}
.checkbox_label{width:30px;height:30px; margin: 5px 0px; display:inline-block;cursor:pointer; float: right;}
.checkbox_label input[type="radio"] + span{width:20px;height:20px; margin: 5px; display:inline-block;background:url(../c_checkbox_bg.png) no-repeat;background-position:0 0; background-size: 20px;}
.checkbox_label input[type="radio"]:checked + span{background-position:0 -21px}
input[type="checkbox"]{appearance: none; -webkit-appearance: none;outline: none;display:none}
.checkbox_label{width:30px;height:30px; margin: 5px 0px; display:inline-block;cursor:pointer; float: right;}
.checkbox_label input[type="checkbox"] + span{width:20px;height:20px; margin: 5px; display:inline-block;background:url(../c_checkbox_bg.png) no-repeat;background-position:0 0; background-size: 20px;}
.checkbox_label input[type="checkbox"]:checked + span{background-position:0 -21px}

textarea, input {word-wrap:break-word; word-break:break-all; padding:0px;}
li {list-style-type:none;}
img {border:0 none;width: 100%; vertical-align: middle;}
em,i{ font-style:normal;}
a {color:#000; text-decoration:none; outline: none;}
a {outline:none;}
h1 { font-size:18px; }
h2 { font-size:16px; }
h3 { font-size:15px; }
h4 { font-size:14px; }
.clear { clear:both; height:0px; width:100%; font-size:1px; line-height:0px; visibility:hidden; overflow:hidden;}
.w_640{ max-width:640px; min-width:320px; width:100%; margin:0 auto;}
.active{background: white;opacity: 1}
html,body,div,span,h1,h2,h3,h4,p,em,img,dl,dt,dd,ol,ul,li,table,tr,th,td,form{margin:0;padding:0;border:0;}
html{height:100%;}
ul,ol,li{list-style:none;text-align:left;}
img{vertical-align:top;border:0 none;}
input,label{vertical-align:middle;}
input{-webkit-appearance: none ;}
table{border-collapse:collapse;border-spacing:0;}
p,div{word-wrap:break-word;}
p{color:#333;}
